{% extends 'board/base.html' %} {# 상속 #}
{% block title %}edit{% endblock %}
{% load static %}
{% block content %}
    <form method="post">
        {% csrf_token %}
    <table border="1">
        <tr>
            <td>title:</td>
            <td><input type="text" placeholder="제목" name="title"></td>
        </tr>
        <tr>
            <td>writer:</td>
            <td><input type="text" placeholder="작성자" name="writer"></td>
        </tr>
        <tr>
            <td>content:</td>
            <td><textarea cols="30" rows="10" placeholder="내용" name="content"></textarea></td>
        </tr>
        
    </table>
        <input type="submit" value="수정">
    </form>
{% endblock %}