<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
    <table border="1">
        <tr>
            <td>title:</td>
            <td><input type="text" placeholder="제목" name="title"></td>
        </tr>
        <tr>
            <td>writer:</td>
            <td><input type="text" placeholder="작성자" name="writer"></td>
        </tr>
        <tr>
            <td>content:</td>
            <td><textarea cols="30" rows="10" placeholder="내용" name="content"></textarea></td>
        </tr>
        
    </table>
        <input type="submit" value="수정">
    </form>
</body>
</html>