{% extends 'board/base.html' %} {# 상속 #}
{% block title %}list{% endblock %}
{% load static %}
{% block content %}
    <table border="1">
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>조회수</td>
        </tr>
        {% for b in board %}
        <tr>
            <td>{{b.id}}</td>
            <td><a href="{% url 'board:detail' b.id %}">{{b.title}}</a></td>
            <td>{{b.writer}}</td>
            <td>{{b.readcount}}</td>
        </tr>
        {% endfor %}
        
    </table>
    <a href="{% url 'board:regist' %}"><button>글등록</button></a>
{% endblock %}