<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regist</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    제목:<input type="text" name="title">
    <br>
    작성자:<input type="text" name="writer">
    <br>
    <div>내용:</div>
    <textarea cols="30" rows="10" name="content"></textarea>
    <br>
    <input type="submit" value="작성">
</form>
</body>
</html>